-r requirements-package.txt

#builduíng package
setuptools
types-setuptools

# For examples:
mariadb

# Plot from database:
matplotlib #; sys_platform == 'win32'
pandas #; sys_platform == 'win32'
pandas-stubs #; sys_platform == 'win32'
sqlalchemy #; sys_platform == 'win32'
